---
import type { load } from "cheerio";
import Header from "./Header.astro"
import {Jugadas} from "./Jugadas.jsx"
import {datos} from '../funciones/basemongo.js';

const {respuesta,resultado} = await datos()
const jugadores = respuesta.length;
---
<Header resultado= {resultado} ></Header>
<h1>Bienvenidos a la Borradita Vecinal</h1>
<div class="parent" style={`--grid-rows: ${jugadores}`}>

 {respuesta.map((item) => (
 <Jugadas  nombre = {item.nombre} numeros = {item.numeros} resultado ={resultado[0]?.numeros || []} client:load ></Jugadas>
))}


</div>

<style>
  h1{text-align: center;
font-size: 1rem;
background-color: green;
color:antiquewhite;
margin-top: 5px;
}
	.parent {
    border-radius: 10px;
    padding: 0px;
    width:100%;
    color: rgb(243, 196, 109);
    display: grid;
    grid-template-columns: 25% repeat(10, auto) ;
	  grid-template-rows: repeat(var(--grid-rows), 30px);
    background-color: rgb(3, 88, 10);
    text-align: center;
    text-wrap: wrap;
    align-items: center;
    justify-content:stretch;
    
    
  
}



@media (min-width: 400px) {
  .parent {
  width: 100%;
    grid-template-columns: 10% repeat(10, auto) ;
    grid-template-rows: repeat(var(--grid-rows), 1fr)
   
  }
  h1{text-align: center;
    font-size: 2rem;
}
}
    

</style>




